# Build output của Maven
target/

# File biên dịch Java
*.class

# Cấu hình IDE (Eclipse/IntelliJ - không dùng nhưng phòng hờ)
.classpath
.project
.settings/
*.iml
.idea/~

# File rác hệ điều hành
.DS_Store
Thumbs.db